body {
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 20px;
    float: left;
    font-weight: bold;
    position: relative;
    top: 25px;
}

aside h3{
    margin-top: 100px;
    font-size: 28px;
}

aside ul {list-style: None}
aside ul li{
    color: white;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: yellow;
    text-decoration: none;
    transform: scale(1.05);
}

.field-container {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

.player-buttons {
    left: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-buttons-row {
    display: flex;
    margin-bottom: 30px;
}

.player-buttons-row button {
    width: 150px;
    height: 150px;
    margin: 0 5px; /* Задаем отступ между кнопками */
    font-size: 12px;
}

h1 img {
    top: 0;
    left: 5%;
    width: 650px;
    height: 100%;
    position: absolute;
}
.dropdown-container {
    width: 368px;
    height: 438px;
    position: absolute;
    text-align: right;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0; /* Серый цвет фона */
    padding: 10px; /* Параметр для добавления отступов вокруг содержимого */
}

.filters-item-select {
    width: 100%;
}

.player-card {
    border-radius: 5px;
    padding: 10px;
    width: 200px; /* Увеличил ширину карты для вмещения кнопки */
    background-color: #fff;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-rating {
    text-align: left;
    font-size: 10px; /* Увеличил размер рейтинга */
}
.player-position{
    text-align: left;
    font-size: 10px; /* Увеличил размер рейтинга */
}
.player-fullname {
    margin-top: 15px;
    font-weight: bold; /* Добавил жирный шрифт для полного имени */
}
.player-stat-name{
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
}
.player-stat {
    font-size: 15px;
    text-align: center;
}

.player-club-country {
    font-style: italic; /* Добавил курсив для клуба и страны */
}
ul span{
    display: inline;
}

